---
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'

const posts = (await getCollection('blog')).sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()).slice(0, 3)
---

<Layout title="Welcome to Kometsoft (M) Sdn. Bhd.">
  <div class="bg-white pb-6 sm:pb-8 lg:pb-12 flex items-center min-h-[calc(100vh-64px)] sm:min-h-[calc(100vh-76px)]">
    <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
      <section class="flex flex-col lg:flex-row justify-between gap-6 sm:gap-10 pt-6">
        <div class="xl:w-5/12 flex flex-col justify-center sm:text-center lg:text-left lg:py-12 xl:py-24">
          <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 mt-8">About Us</h2>

          <p class="lg:w-full text-gray-600 text-sm sm:text-base leading-relaxed mb-6 md:mb-6">Kometsoft specializes in enterprise application development for web, mobile and Artificial Intelligence. Since 2003, our clients choose us because we deliver and continue to innovate and improve.</p>
          <div class="lg:w-full text-gray-600 text-sm sm:text-base leading-relaxed mb-2 md:mb-2">
            Our clients choose us for:
            <ul class="list-style lg:w-full text-gray-600 text-sm sm:text-base leading-relaxed mb-8 md:mb-12 mt-2 space-y-1">
              <li class="flex pl-0 space-x-2 items-center">
                <svg class="flex-shrink-0 w-5 h-5 text-success-500 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-.997-6l7.07-7.071-1.414-1.414-5.656 5.657-2.829-2.829-1.414 1.414L11.003 16z"></path>
                </svg>

                <span>Enterprise Web & Mobile Apps consultation &amp; development services</span>
              </li>
              <li class="flex pl-0 space-x-2 items-center">
                <svg class="flex-shrink-0 w-5 h-5 text-success-500 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-.997-6l7.07-7.071-1.414-1.414-5.656 5.657-2.829-2.829-1.414 1.414L11.003 16z"></path>
                </svg>

                <span>AWS cloud computing consultation and managed services</span>
              </li>
              <li class="flex pl-0 space-x-2 items-center">
                <svg class="flex-shrink-0 w-5 h-5 text-success-500 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-.997-6l7.07-7.071-1.414-1.414-5.656 5.657-2.829-2.829-1.414 1.414L11.003 16z"></path>
                </svg>

                <span>IT talent development through training and coaching</span>
              </li>
              <li class="flex pl-0 space-x-2 items-center">
                <svg class="flex-shrink-0 w-5 h-5 text-success-500 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-.997-6l7.07-7.071-1.414-1.414-5.656 5.657-2.829-2.829-1.414 1.414L11.003 16z"></path>
                </svg>

                <span>Artificial Intelligence / Machine Learning (AI/ML) solutions and consultation</span>
              </li>
            </ul>
          </div>

          <div class="flex flex-wrap gap-4 mb-8 md:mb-12 items-center justify-center lg:justify-start">
            <img src="/images/laravel-certified-company-badge.webp" class="h-16 md:h-20" alt="" />
            <img src="/images/aws-partner-select.webp" class="h-16 md:h-20" alt="" />
            <img src="/images/aws-public-sector.webp" class="h-16 md:h-20" alt="" />
            <img src="/images/aws-spp.png" class="h-16 md:h-20" alt="" />
            <img src="/images/aws-ps-spp.png" class="h-16 md:h-20" alt="" />
            <img src="/images/logo-malaysia-digital.png" class="h-14 md:h-14" alt="" />
          </div>

          <div class="flex flex-col sm:flex-row sm:justify-center lg:justify-start gap-2.5">
            <a href="/#contact-us" class="inline-block bg-primary-500 hover:bg-primary-600 active:bg-primary-700 focus-visible:ring ring-primary-300 text-white text-sm sm:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">Contact us</a>
          </div>
        </div>

        <div class="xl:w-5/12 h-48 lg:h-auto bg-gray-100 overflow-hidden shadow-lg rounded-lg">
          <img src="/images/kometsoft-building.jpeg" alt="Kometsoft's Office" class="w-full h-full object-cover object-center" />
        </div>
      </section>
    </div>
  </div>


  <div class="bg-white py-6 sm:py-8 lg:py-20" id="aws">
    <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
      <div class="mb-8 md:mb-12">
        <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 mt-8">News & Events</h2>

        <p class="max-w-screen-md text-gray-600 text-sm sm:text-base text-center mx-auto mb-8 md:mb-12">Stay in the loop with our updates.</p>

        <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-10 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
          {
            posts.map((post) => (
              <a href={`/blog/${post.slug}/`} class="group">
                <article class="flex flex-col items-start">
                  <div class="relative w-full">
                    <Image src={post.data.image} alt={post.data.title} width={1000} height={1000} class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]" />
                    {/* <img transition:name={post.slug} src={post.data.image} alt={post.data.title} class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]" /> */}
                    <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10" />
                  </div>
                  <div class="w-full">
                    <div class="mt-4 flex items-center justify-between">
                      <span class="rounded-lg bg-primary-100 text-primary-600 px-2 py-px text-sm font-semibold">{post.data.category}</span>
                      <span class="text-sm text-gray-500">
                        <time datetime={post.data.publishDate.toISOString()}>
                          {post.data.publishDate.toLocaleDateString('en-us', {
                            year: 'numeric',
                            month: 'short',
                            day: 'numeric',
                          })}
                        </time>
                      </span>
                    </div>
                    <div class="relative">
                      <h3 class="mt-3 text-xl font-bold leading-6 group-hover:underline group-hover:text-primary-500 transition ease-in-out">{post.data.title}</h3>
                      <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">{post.data.description}</p>
                    </div>
                  </div>
                </article>
              </a>
            ))
          }
        </div>

        <div class="flex justify-center mt-10 space-x-2">
          <a class="bg-primary-500 hover:bg-primary-600 text-primary-50 focus-visible:ring ring-primary-300 active:text-primary-200 text-sm sm:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3" href="/blog">View more</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-white py-6 sm:py-8 lg:py-20" id="services">
    <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
      <div class="mb-8 md:mb-12">
        <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 mt-8">Our Services</h2>

        <p class="max-w-screen-md text-gray-600 text-sm sm:text-base text-center mx-auto">We deliver high quality software products and services. More importantly, we ensure our work fulfills our clients needs and meets the expected quality, scope, duration and cost. Developing software is hard and many IT projects have failed. But not with us.</p>
      </div>

      <div class="grid sm:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 xl:gap-16">
        <div class="flex gap-4 md:gap-6">
          <div class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-primary-500 text-white rounded-lg md:rounded-xl shadow-lg">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path>
            </svg>
          </div>

          <div>
            <h3 class="text-lg md:text-xl font-semibold mb-2">Laravel Apps</h3>
            <p class="text-gray-600 mb-2 text-sm">With more than 300 projects completed, we have gained the expertise to complete any type & size of Laravel apps. In addition to standard Laravel projects, we also implement Laravel ecosystems including Vapor, Forge, Sanctum and Nova.</p>
          </div>
        </div>

        <div class="flex gap-4 md:gap-6">
          <div class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-primary-500 text-white rounded-lg md:rounded-xl shadow-lg">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"></path>
            </svg>
          </div>

          <div>
            <h3 class="text-lg md:text-xl font-semibold mb-2">Mobile Apps</h3>
            <p class="text-gray-600 mb-2 text-sm">We have expertise in developing Native (iOS Swift & Android Kotlin) and Hybrid (Ionic Framework) mobile apps. We've developed Apps for various purposes including data collection, executive dashboard, PDF editing, field works (camera, GPS), electronic signature and printing.</p>
          </div>
        </div>

        <div class="flex gap-4 md:gap-6">
          <div class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-primary-500 text-white rounded-lg md:rounded-xl shadow-lg">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z"></path>
            </svg>
          </div>

          <div>
            <h3 class="text-lg md:text-xl font-semibold mb-2">Talent Development</h3>
            <p class="text-gray-600 mb-2 text-sm">We provide Training & Coaching for Developers. Unlike other training providers where the trainers are lecturers, our classes are instructed by our own senior engineers who have extensive real-life experiences. Many of our clients choose us to handhold their in-house projects.</p>
          </div>
        </div>

        <div class="flex gap-4 md:gap-6">
          <div class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-primary-500 text-white rounded-lg md:rounded-xl shadow-lg">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path>
            </svg>
          </div>

          <div>
            <h3 class="text-lg md:text-xl font-semibold mb-2">Enterprise MySQL</h3>
            <p class="text-gray-600 mb-2 text-sm">Being a MySQL Partner, we have the expertise to deploy both Community and Enterprise MySQL. We also offer consultation to design, install, configure, monitor, fine-tune and maintain your MySQL setups.</p>
          </div>
        </div>

        <!-- <div class="flex gap-4 md:gap-6">
		  <div class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-primary-500 text-white rounded-lg md:rounded-xl shadow-lg">
			<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 5.636l-3.536 3.536m0 5.656l3.536 3.536M9.172 9.172L5.636 5.636m3.536 9.192l-3.536 3.536M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-5 0a4 4 0 11-8 0 4 4 0 018 0z" />
			</svg>
		  </div>

		  <div>
			<h3 class="text-lg md:text-xl font-semibold mb-2">Blockchain Apps</h3>
			<p class="text-gray-600 mb-2 text-sm">A tool that lets you build a dream website even if you know nothing about web design or programming.</p>
		  </div>
		</div> -->

        <div class="flex gap-4 md:gap-6">
          <div class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-primary-500 text-white rounded-lg md:rounded-xl shadow-lg">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
            </svg>
          </div>

          <div>
            <h3 class="text-lg md:text-xl font-semibold mb-2">Call Center Solutions</h3>
            <p class="text-gray-600 mb-2 text-sm">We offer a comprehensive suite of Call Center solutions, including IP telephony, CRM, Chatbot, Whatsapp, and Knowledge Base components. These tools streamline communication processes, enhance customer engagement, and improve efficiency.</p>
          </div>
        </div>

        <div class="flex gap-4 md:gap-6">
          <div class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-primary-500 text-white rounded-lg md:rounded-xl shadow-lg">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
            </svg>
          </div>

          <div>
            <h3 class="text-lg md:text-xl font-semibold mb-2">Application Integrations</h3>
            <p class="text-gray-600 mb-2 text-sm">Our company specializes in providing comprehensive IT integration services, including API integration, Payment Integration, JPN MyIdentity, and online services by MAMPU. Our solutions enable clients to streamline their processes, improve efficiency, and drive growth.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white py-6 sm:py-8 lg:py-20" id="aws">
    <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
      <div class="mb-8 md:mb-12">
        <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 mt-8">Amazon Web Services (AWS) Partnership</h2>

        <p class="max-w-screen-md text-gray-600 text-sm sm:text-base text-center mx-auto">Kometsoft is proud to be an AWS Select Tier Partner for Services, as well as a Public Sector Partner. We possess the necessary expertise, skillset, and experience to provide top-notch AWS consultation and managed services. Trust us to deliver solutions that meet your unique needs and exceed your expectations.</p>
      </div>

      <div class="grid grid-cols-2 sm:grid-cols-3 xl:grid-cols-8 gap-4 md:gap-6 place-items-center">
        <div class="flex justify-center">
          <Image src="/images/badge3.png" alt="" height={200} width={200} />
        </div>
        <div class="flex justify-center">
          <Image src="/images/badge8.png" alt="" height={200} width={200} />
        </div>
        <div class="flex justify-center">
          <Image src="/images/badge4.png" alt="" height={200} width={200} />
        </div>
        <div class="flex justify-center">
          <Image src="/images/badge5.png" alt="" height={200} width={200} />
        </div>
        <div class="flex justify-center">
          <Image src="/images/badge6.png" alt="" height={200} width={200} />
        </div>
        <div class="flex justify-center">
          <Image src="/images/badge7.png" alt="" height={200} width={200} />
        </div>
        <div class="flex justify-center">
          <Image src="/images/badge1.png" alt="" height={200} width={200} />
        </div>
        <div class="flex justify-center">
          <Image src="/images/badge2.png" alt="" height={200} width={200} />
        </div>
      </div>
      <div class="grid grid-cols-2 sm:grid-cols-3 xl:grid-cols-9 gap-4 md:gap-6 place-items-center mt-4">
        <div class="flex justify-center">
          <Image src="/images/ai-prac-ea.png" alt="" height={200} width={200} />
        </div>
        <div class="flex justify-center">
          <Image src="/images/tech-acc.png" alt="" height={200} width={200} />
        </div>
        <div class="flex justify-center">
          <Image src="/images/business-acc.png" alt="" height={200} width={200} />
        </div>
        <div class="flex justify-center">
          <Image src="/images/well-a.png" alt="" height={200} width={200} />
        </div>
        <div class="flex justify-center">
          <Image src="/images/gen-ai-bs.png" alt="" height={200} width={200} />
        </div>
        <div class="flex justify-center">
          <Image src="/images/gen-ai-es.png" alt="" height={200} width={200} />
        </div>
        <div class="flex justify-center">
          <Image src="/images/mig-foun.png" alt="" height={200} width={200} />
        </div>
        <div class="flex justify-center">
          <Image src="/images/gen-ai-sales.png" alt="" height={200} width={200} />
        </div>
        <div class="flex justify-center">
          <Image src="/images/mig-amb-bs.png" alt="" height={200} width={200} />
        </div>
      </div>
      <div class="flex justify-center mt-10 space-x-2">
        <a class="bg-primary-500 hover:bg-primary-600 text-primary-50 focus-visible:ring ring-primary-300 active:text-primary-200 text-sm sm:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3" href="https://partners.amazonaws.com/partners/0010L00001tBChWQAW/Kometsoft%20(M)%20Sdn.%20Bhd" target="_blank">Visit Kometsoft's partner page</a>
        <a class="bg-primary-500 hover:bg-primary-600 text-primary-50 focus-visible:ring ring-primary-300 active:text-primary-200 text-sm sm:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3" href="/aws" target="_blank">AWS QuickSight</a>
      </div>
    </div>
  </div>

  <div class="bg-white py-6 sm:py-8 lg:py-20" id="tech-stacks">
    <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
      <div class="mb-8 md:mb-12">
        <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 mt-8">Technology Stacks</h2>

        <p class="max-w-screen-md text-gray-600 text-sm sm:text-base text-center mx-auto">We leverage on these technologies to deliver top-notch solutions to the clients.</p>
      </div>
      <div class="max-w-screen-md mx-auto">
        <div class="flex flex-wrap justify-center">
          <div class="m-5 w-28 md:w-28 h-28 md:h-28 flex justify-center items-center shrink-0 bg-white text-white rounded-2xl shadow-xl border border-200 hover:scale-110 transform duration-150 ease-in-out hover:shadow-5xl">
            <img src="https://raw.githubusercontent.com/laravel/art/master/logo-lockup/4%20PNG/3%20RGB/1%20Full%20Color/laravel-logolockup-rgb-red.png" class="w-auto h-6" alt="" />
          </div>
          <div class="m-5 w-28 md:w-28 h-28 md:h-28 flex justify-center items-center shrink-0 bg-white text-white rounded-2xl shadow-xl border border-200 hover:scale-110 transform duration-150 ease-in-out hover:shadow-5xl">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Amazon_Web_Services_Logo.svg" class="w-auto h-10" alt="" />
          </div>
          <div class="m-5 w-28 md:w-28 h-28 md:h-28 flex justify-center items-center shrink-0 bg-white text-white rounded-2xl shadow-xl border border-200 hover:scale-110 transform duration-150 ease-in-out hover:shadow-5xl">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Ionic_Logo.svg" class="w-auto h-7" alt="" />
          </div>
          <div class="m-5 w-28 md:w-28 h-28 md:h-28 flex justify-center items-center shrink-0 bg-white text-white rounded-2xl shadow-xl border border-200 hover:scale-110 transform duration-150 ease-in-out hover:shadow-5xl">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/35/Tux.svg" class="w-auto h-14" alt="" />
          </div>
          <div class="m-5 w-28 md:w-28 h-28 md:h-28 flex justify-center items-center shrink-0 bg-white text-white rounded-2xl shadow-xl border border-200 hover:scale-110 transform duration-150 ease-in-out hover:shadow-5xl">
            <img src="https://www.mysql.com/common/logos/logo-mysql-170x115.png" class="w-auto h-11" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white py-6 sm:py-8 lg:py-20" id="clients">
    <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
      <div class="mb-8 md:mb-12">
        <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 mt-8">Our Clients</h2>

        <p class="max-w-screen-md text-gray-600 text-sm sm:text-base text-center mx-auto">Since 2003, we've successfully delivered more than 300 projects with 100% success rate. Our clients include 1 Bank, 17 Federal Ministries, 20+ Federal Agencies, 6 state governments and 2 public universities. The list is growing and we would like to thank our clients for their continuous support, trusts, co-operation and commitment all these years.</p>
      </div>

      <img src="/images/client-logo-cloud.webp" alt="" class="mx-auto" />
    </div>
  </div>

  <div class="bg-white py-6 sm:py-8 lg:py-20">
    <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
      <div class="mb-8 md:mb-12">
        <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4">Our competitive advantage</h2>

        <p class="max-w-screen-md text-gray-600 text-sm sm:text-base text-center mx-auto"></p>
      </div>

      <div class="grid sm:grid-cols-2 xl:grid-cols-3 gap-4 md:gap-8">
        <div class="flex flex-col border rounded-lg p-4 md:p-6">
          <h3 class="text-lg md:text-xl font-semibold mb-2">Online Applications with Approval</h3>
          <p class="text-gray-600">Among the most common apps is an online forms for public to submit and then processed by the agency. We've implemented various forms, workflow, integration, notification, reporting, dashboard and access control.</p>
        </div>

        <div class="flex flex-col border rounded-lg p-4 md:p-6">
          <h3 class="text-lg md:text-xl font-semibold mb-2">Agency Core Functions</h3>
          <p class="text-gray-600">We have developed several Agency's core functions which are fully customized and specific to their needs. Often these require strong understanding of their work requirements and superb capability to cater for changes within time constrains.</p>
        </div>

        <div class="flex flex-col border rounded-lg p-4 md:p-6">
          <h3 class="text-lg md:text-xl font-semibold mb-2">Online Registrations & Membership</h3>
          <p class="text-gray-600">We've implemented various registration apps including for general public, internal staff or specific user groups to register and then manage their membership. These includes registered persons, certified practitioner, businesses and NGOs.</p>
        </div>

        <div class="flex flex-col border rounded-lg p-4 md:p-6">
          <h3 class="text-lg md:text-xl font-semibold mb-2">Audit, Rating and Certifications</h3>
          <p class="text-gray-600">We have expertise in developing apps for Auditing, Internal Audit and Rating solutions. We've developed end-to-end auditing workflow for internal, external and 3rd party auditors. Many clients have implemented self-assesments for their own improvements and achieve perfect star ratings.</p>
        </div>

        <div class="flex flex-col border rounded-lg p-4 md:p-6">
          <h3 class="text-lg md:text-xl font-semibold mb-2">Helpdesk and Complaints</h3>
          <p class="text-gray-600">We've done several Helpdesk projects which cater both for general public complaints and enquiry. We've also completed internal helpdesk solutions including IT Helpdesk with integration to Asset Management System with SLA and Penalty calculations.</p>
        </div>

        <div class="flex flex-col border rounded-lg p-4 md:p-6">
          <h3 class="text-lg md:text-xl font-semibold mb-2">Asset Management</h3>
          <p class="text-gray-600">Our team has created a comprehensive asset management solution specifically tailored for public sector agencies to effectively track and maintain their assets.</p>
        </div>

        <div class="flex flex-col border rounded-lg p-4 md:p-6">
          <h3 class="text-lg md:text-xl font-semibold mb-2">Call-center, CRM and Chatbot</h3>
          <p class="text-gray-600">Complete solutions including IP telephony, CRM, Chatbot, Whatsapp and Knowledge Base components. .</p>
        </div>

        <div class="flex flex-col border rounded-lg p-4 md:p-6">
          <h3 class="text-lg md:text-xl font-semibold mb-2">Cloud Services & Migrations</h3>
          <p class="text-gray-600">We have successfully executed multiple cloud deployments and migrations utilizing Amazon Web Services (AWS) to enhance our clients' infrastructure and scalability.</p>
        </div>

        <div class="flex flex-col border rounded-lg p-4 md:p-6">
          <h3 class="text-lg md:text-xl font-semibold mb-2">Server-less & Zero Downtime Apps</h3>
          <p class="text-gray-600">Our team possesses expertise and experience in deploying serverless and zero-downtime applications to ensure seamless performance and minimize disruptions for our clients.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white py-6 sm:py-8 lg:py-20">
    <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
      <div class="md:h-80 flex flex-col sm:flex-row bg-gray-900 rounded-lg overflow-hidden">
        <div class="w-full sm:w-1/2 lg:w-2/5 flex flex-col p-4 sm:p-8">
          <h2 class="text-white text-xl md:text-2xl lg:text-4xl font-bold mb-4">Need a lab <br class="hidden sm:block" />for training?</h2>

          <p class="max-w-md text-gray-500 mb-8">Our training centre is open for rent.</p>

          <div class="mt-auto">
            <a href="/lab" class="inline-block bg-white hover:bg-gray-100 active:bg-gray-200 focus-visible:ring ring-primary-300 text-gray-800 font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">I'm interested!</a>
          </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-3/5 h-48 sm:h-auto order-first sm:order-none bg-gray-700">
          <img src="/images/lab.jpeg" alt="Photo by Dom Hill" class="w-full h-full object-cover object-center" />
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white py-6 sm:py-8 lg:py-20" id="contact-us">
    <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
      <div class="flex flex-col items-center bg-gray-100 rounded-lg p-4 sm:p-8">
        <div class="mb-8 md:mb-12">
          <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4">Contact Us</h2>

          <p class="max-w-screen-md text-gray-600 text-sm sm:text-base text-center mx-auto">Send us a message.</p>
        </div>

        <div class="lg:max-w-lg p-6 lg:px-10 lg:py-12 bg-white text-center border rounded-xl w-full">
          <form id="hubspot-form">
            <div class="relative flex flex-wrap mb-6">
              <input class="relative mb-2 md:mb-0 w-full py-4 pl-4 border border-gray-300 rounded-lg placeholder-gray-400 focus:border-primary-500 focus:ring-primary-500" type="text" name="full_name" placeholder="John" required />
              <span class="absolute top-0 left-0 ml-4 -mt-2 px-2 inline-block text-sm bg-white text-gray-600">Name</span>
            </div>

            <div class="relative flex flex-wrap mb-6">
              <input class="relative mb-2 md:mb-0 w-full py-4 pl-4 border border-gray-300 rounded-lg placeholder-gray-400 focus:border-primary-500 focus:ring-primary-500" type="email" name="email" placeholder="hello@mail.com" required />
              <span class="absolute top-0 left-0 ml-4 -mt-2 px-2 inline-block text-sm bg-white text-gray-600">Email address</span>
            </div>

            <div class="relative flex flex-wrap mb-6">
              <textarea class="relative mb-2 md:mb-0 w-full py-4 pl-4 border border-gray-300 rounded-lg placeholder-gray-400 focus:border-primary-500 focus:ring-primary-500" name="message" placeholder="Your message" rows="4" required></textarea>
              <span class="absolute top-0 left-0 ml-4 -mt-2 px-2 inline-block text-sm bg-white text-gray-600">Messages</span>
            </div>

            <button type="submit" class="w-full inline-flex items-center justify-center space-x-2 bg-primary-500 hover:bg-primary-600 text-primary-50 focus-visible:ring ring-primary-300 active:text-primary-200 text-sm sm:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">
              <svg class="fill-current h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
              </svg>
              <span>Send</span>
            </button>

            <p class="text-gray-500 text-center mt-4">By using this form, you agree to our <br /> <a href="/terms" class="hover:text-primary-500 active:text-primary-600 underline transition duration-100">Term of Service</a> and <a href="/privacy" class="hover:text-primary-500 active:text-primary-600 underline transition duration-100">Privacy Policy</a>.</p>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white py-6 sm:py-8 lg:py-20">
    <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
      <div class="bg-gray-100 rounded-lg overflow-hidden">
        <iframe title="Kometsoft's office map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.472689854699!2d101.71819231475679!3d2.9662587978396506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cdc9ee24e5632b%3A0x94f73f0d7a8134d0!2sKometsoft%20(M)%20Sdn%20Bhd!5e0!3m2!1sen!2smy!4v1666341924683!5m2!1sen!2smy" width="100%" height="450" style="border: 0" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>

  <script src="//js.hs-scripts.com/21997511.js" id="hs-script-loader" defer async></script>
</Layout>
